# Basic
  NODE_ENV = development
  WEBSITE_NAME = edondigital
  OWNER_EMAIL = "founderemail@gmail.com" # for contact information, newsletter, etc
  # Urls
    BASE_URL = https://the_domain_im_deploying_with.com # e.g. https://edondigital.com
    LOCALHOST_URL = http://localhost:3010
    PREFERRED_URL = https://url_preferred_for_canonical_meta_tag.com # for canonical URLs. e.g. https://edondigital.netlify.app (it can be the same as BASE_URL)
    NEXT_PUBLIC_NOTES_WEBSITE_URL = https://website-of-my-notes.netlify.app # e.g. https://edongarden.netlify.app - this and others should have the prefix NEXT_PUBLIC_ because of this: https://nextjs.org/docs/app/building-your-application/configuring/environment-variables#bundling-environment-variables-for-the-browser
# Backend stuff
  # Database connection
    DATABASE_URI = postgres://postgres.jfacvnajcevh:myVeryFancyPassword@aws-0-eu-central-1.pooler.omg.com:6543/postgres
  # Payload app framework secret
    PAYLOAD_SECRET = "vnmacnn13i3 rAAiej231f 312aa/vaef|AAfa]12$$(!)FJF98421jras'}[da]_that" # random string used for encryption
    # Autologin (should always stay false in production and true/filled in development)
      ENABLE_AUTOLOGIN = false 
      AUTOLOGIN_EMAIL = test@example.com
      AUTOLOGIN_PASSWORD = test
  # S3 Bucket
    S3_BUCKET = personal_website_main_bucket # name of the bucket
    S3_ACCESS_KEY_ID = ajofijahf1fh38fehf8sahfa191
    S3_SECRET_ACCESS_KEY = hf2h39f8h13fg7fsufg237f31gf7wegffg1he18susue
    S3_REGION = eu-central-1
    S3_ENDPOINT = https://hafuioehefhafiuaeifuei.omg.co/storage/v1/s3
# External APIs or third-party services
  # Web3Form
    WEB3FORM_ACCESS_KEY = "39jd329fj-fjj2f23f9-fk2f-jfcasm-3i301" # to make users send the form in /contact through web3form service