# General
  NODE_ENV = development
  BASE_URL = https://the_domain_im_deploying_with.com # e.g. https://edondigital.vercel.app
  PREFERRED_URL = https://url_preferred_for_canonical_meta_tag.com # for canonical URLs. e.g. https://edondigital.netlify.app (it can be the same as BASE_URL)
  OWNER_EMAIL = "founderemail@gmail.com" # for contact information, newsletter, etc
  NEXT_PUBLIC_NOTES_WEBSITE_URL = https://website-of-my-notes.netlify.app # this and others should have the prefix NEXT_PUBLIC_ because of this: https://nextjs.org/docs/app/building-your-application/configuring/environment-variables#bundling-environment-variables-for-the-browser

# External APIs or third-party services
  WEB3FORM_ACCESS_KEY = "39jd329fj-fjj2f23f9-fk2f-jfcasm-3i301" # to make users send the form in /contact