# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.vercel

# production
/dist
/build

# misc
.vscode
tempCodeRunnerFile.*
.DS_Store
*.pem
*.crt

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
*.env

# obsidian
**/.obsidian
**/.trash
**/private_notes