/* code > [data-highlighted-line] {
  background-color: red;
}
data-highlighted-chars {
  background-color: red;
}

[data-highlighted-chars] {
  background-color: yellow; 
  font-weight: bold; 
} */

/* Style for highlighted lines */
/* [data-highlighted-line] {
  background-color: lightblue; 
  display: block; 
  padding: 0.5em; 
}

[data-highlighted-line] {
  background-color: #ffeb3b; 
 } */
 
 /* Style for highlighted words */
 /* [data-highlighted-chars] {
  background-color: #ff9800; 
 } */