.dark-theme-mode {
  /* contents */
  --primary: 144, 89, 255;
  --muted_primary: 95, 54, 178;
  --secondary: 255, 64, 255;
  --skipped: 115, 96, 0;
  --record: 255, 107, 38;

  /* shades */
  --body-shade: 26, 26, 26; 
  --footer-shade: 30, 30, 30;
  --box-shade: 40, 40, 40;

  /* text */
  --text-primary: 255, 255, 255;
  --text-muted: 210, 210, 210;
}
.white-theme-mode {
  /* contents */
  --primary: 1, 1, 1;
  --muted_primary: 95, 54, 178;
  --secondary: 255, 64, 255;
  --skipped: 115, 96, 0;
  --record: 255, 107, 38;

  /* shades */
  --body-shade: 244, 244, 244; 
  --footer-shade: 222, 222, 222;
  --box-shade: 230, 230, 240;

  /* text */
  --text-primary: 1, 1, 1;
  --text-muted: 3, 3, 3;
}