html { /* Smooth scrolling won't work anyway based on your OS and/or browser settings. chrome://flags/#smooth-scrolling should be enabled, not default */
  scroll-behavior: smooth !important;
}

/* .g {
  background: var(--contents-primary-streak, linear-gradient(92deg, #9059FF 0%, #C859FF 100%));  
} */
/* .heading-w-link {
  display: flex;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 40px;
} */
/* .heading-w-link a {
  position: absolute;
  left: -20px;
  bottom: 35px;
} */
.autolink-icon {
  padding-right: 10px;
  /* position: absolute;
  left: -20px;
  bottom: 35px; */
  /* margin-left: -30px; */
}

/* tailwind typography plugin defaults transitions to 0*/
  .prose > * {
    transition-duration: 1000ms !important;
  }

/* To add some margin top when you click an anchor. So that it doesn't get hidden by the header */
  [id] {
    scroll-margin-top: 110px; /* Adjust this value as needed */
  }
/* hides scrollbar mantaining functionality to scroll in most browsers */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* remove scrollbar in firerox & edge */
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }