html { /* Smooth scrolling won't work anyway based on your OS and/or browser settings. chrome://flags/#smooth-scrolling should be enabled, not default */
  scroll-behavior: smooth !important;
}

/* .g {
  background: var(--contents-primary-streak, linear-gradient(92deg, #9059FF 0%, #C859FF 100%));  
} */

/* tailwind typography plugin defaults transitions to 0*/
  .prose > * {
    transition-duration: 1000ms !important;
  }
/* To add some margin top when you click an anchor. So that it doesn't get hidden by the header */
  [id] {
    scroll-margin-top: 110px; /* Adjust this value as needed */
  }
/* hides scrollbar mantaining functionality to scroll in most browsers */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* remove scrollbar in firerox & edge */
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
/* Adds 🔗 when you hover on titles */
  .autolink-icon::after {
    content: '🔗';
    opacity: 0;  /* Initially hide the icon */
    margin-left: 10px;  /* Adjust the spacing as needed */
    transition: all 200ms ease-in-out !important;
  }
  .autolink-icon:hover::after {
    opacity: 1;  /* Show the icon on hover */
  }