/* Customizes colors */
strong {
  background-clip: text !important;
  color: transparent !important;
  background-image: linear-gradient(to right, #93c0fd, #f993fd) !important;
  font-weight: 800 !important;
}
em {
  color: #f79af2 !important;
}
li::marker {
  color: hsl(221, 90%, 85%) !important;
}
a > em,
a > span {
  color: #f91f5b !important;
  text-decoration-color: #f91f5b !important;
  text-decoration: underline;
  font-style: normal;
}
/* a {
  color: #bb9af7;
} */
/* span > a > p {
  display: inline;
} */